
<!DOCTYPE html>

<%# 
<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script> %>


<%# <html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>Materialize_sample</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/app/assets/stylesheets/materialize.scss" rel="stylesheet" media="screen,projection" />
</head>

<body>

    <h1>Hello, world!</h1>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/app/assets/javascriptss/js/bin/materialize.js"></script>
</body> %>




<html>
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
  <body>
        <!--Import jQuery before materialize.js-->
      <%# <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="/Users/noriko/projects/miniapp/app/assets/javascripts/js/bin/materialize.min.js"></script> %>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href='/' class="brand-logo center">BLOG</a>
          <% if user_signed_in? %>
          <span><%= current_user.name %>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>   
              <li><a class="post" href="/blog/new">投稿する</a></li>
            </ul>
          </span>
          <%else%>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li><%= link_to "ログイン", new_user_session_path, class: 'post' %></li>
              <li><%= link_to "新規登録", new_user_registration_path, class: 'post' %></li>
              <%# <li><a href="collapsible.html">マイページ</a></li> %>
            </ul>
          </span>
          <%end%>
        </div>
      </nav>
    </header>
  <body>

    <%= yield %>

    <footer>
      <p>
        Copyright BLOG 2019.
      </p>
    </footer>
  </body>
</html>
