
<!DOCTYPE html>


<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>


<html>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href='/' class="brand-logo center">BLOG</a>
          <% if user_signed_in? %>
          <span><%= current_user.name %>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li><%= button_to 'ログアウト', destroy_user_session_path, method: :get %></li>
              <li><%= link_to "ログアウト", 'destroy_user_session_path', method: :delete %></li>   
              <li><a class="post" href="/blog/new">投稿する</a></li>
            </ul>
          </span>
          <%else%>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li><%= link_to "ログイン", new_user_session_path, class: 'post' %></li>
              <li><%= link_to "新規登録", new_user_registration_path, class: 'post' %></li>
              <%# <li><a href="collapsible.html">マイページ</a></li> %>
            </ul>
          </span>
          <%end%>
        </div>
      </nav>
    </header>
  <body>

    <%= yield %>

    <footer>
      <p>
        Copyright BLOG 2019.
      </p>
    </footer>
  </body>
</html>
